<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lifeEgg.dao.AlarmDAO">
	
<insert id="create">
insert into alarm (content, user_id, post_id, cheer_id, uuid) values (#{content}, #{user_id}, #{post_id}
						,#{cheer_id}, #{uuid})
</insert>


<select id="readByUuid" resultType="AlarmDTO">
select * from alarm where uuid = #{uuid}
</select>


<select id="readByUserId" resultType="hashmap" parameterType="hashMap"

>

<![CDATA[
select * 
from alarm
where user_id = #{userId}
limit #{alarmPage.first}, #{alarmPage.size}
]]>
</select>

<select id="getAlarmsCountByUserId" resultType="long">
select count(*) from alarm where user_id = #{userId}
</select>

<delete id="delete"> 
delete from alarm where id = #{id} 
</delete>

<delete id="deleteByUuid"> 
delete from alarm where uuid = #{uuid} 
</delete>


</mapper>