<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lifeEgg.dao.UserDAO">

	
	<insert id="insertUser">
		insert into user (user_name, age, email)
		values (#{user_name}, #{age}, #{email});
	</insert>

	<select id="findUserById" resultType="UserDTO">
		select * 
		from user 
		where id = #{id}
	</select>

    <select id="findUserIdByEmail" parameterType="string" resultType="Integer">
		select COALESCE(id, 0)
        from user 
        where email =#{email}
    </select>

	<update id="updateUser">
		update user
		set user_name=#{user_name}, age=#{age}
		where id = #{id} 
	</update>

	<delete id="deleteUser"> 
		delete * 
		from user 
		where id = #{id} 
	</delete>


</mapper>